<!DOCTYPE html>
<html lang="en" ng-app="movTv">
<head>
  <meta charset="UTF-8">
  <title>movTv</title>

  <!-- STYLES -->
  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Bootstrap Theme -->
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap_THEME.min.css">
  <!-- Font-awesome -->
  <link rel="stylesheet" type="text/css" href="bower_components/components-font-awesome/css/font-awesome.css">
  <!-- Angular toastr -->
  <link rel="stylesheet" href="/bower_components/angular-toastr/dist/angular-toastr.min.css">
  <!-- custom styles -->
  <link rel="stylesheet" type="text/css" href="styles/styles.css">
</head>

<body>
  <nav ng-controller="NavbarController" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img id="nav-logo" src="assets/images/logo05.png" alt="logo"></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li ng-show="!loggedUser">
            <a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a>
          </li>
          <li>
            <a ng-show="loggedUser" href="#!/profile/{{loggedUser}}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Your Profile</a>
          </li>
          <li id="nav-mag">
            <div class="search" ng-controller="SearchController">
              <form ng-submit="getQuery(); query=''">
              <input ng-model="query" type="text" class="form-control input-sm" maxlength="64" placeholder="Search"/>
              <button id="nav-btn" type="submit" class="btn btn-primary btn-sm"><span id="nav-mag" class="glyphicon glyphicon-search"></button>
              </form>
            </div>
          </li>
        </ul><!-- End navbar left -->

        <ul class="nav navbar-nav navbar-right">
            <li ng-show="!loggedUser">
              <a href="#!/login" ng-show="!$rootScope.loggedUser"><span class="glyphicon glyphicon-log-in"></span> Login</a>
            </li>
            <li ng-show="!loggedUser">
              <a href="#!/signup" > <i class="icon-chevron-sign-up"></i>Signup</a>
            </li>
            <li ng-show="loggedUser">
              <a href="#!/profile/{{loggedUser}}">{{loggedUser}}</a>
            </li>
            <li ng-show="loggedUser">
              <a ng-click="logout()"><span class="glyphicon glyphicon-log-in"></span> Logout</a>
            </li>
        </ul> <!-- End navbar-right -->
      </div>
    </div>
  </nav> <!--End nav-->    

  <div class="container"><!--Main content here-->
    
    <ng-view></ng-view> 

  </div><!-- End main container-->

  <footer class="footer row-footer">
    <div class="container text-center">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <ul class="nav navbar-nav list-unstyled">
            <li><a href="#!/">Home</a></li>
            <li><a href="#!/profile/$rootScope.loggedUser">Profile</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-3 col-sm-offset-3">
            <div class="nav navbar-nav">
              <a class="btn btn-social-icon social-link" href="#">About us</a></li>
              <a class="btn btn-social-icon btn-linkedin social-link" href="https://www.linkedin.com/in/ignblanch/" target="_blank"><i class="fa fa-linkedin"></i></a>
              <a class="btn btn-social-icon social-link" href="https://github.com/ignblanch" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
          </div>
        </div>
        <div class="col-xs-12">
          <p align=center>© 2017 <a href="https://github.com/ignblanch" target="_blank">ignblanch</a></p>
        </div>
      </div>
    </div>
  </footer><!--End Footer-->

  <!--AngularJS -->
  <script type="text/javascript" src="bower_components/angular/angular.js"></script>
  <!--Angular Route -->
  <script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
  <!-- Angular-jwt-->
  <script src="/bower_components/angular-jwt/dist/angular-jwt.min.js"></script>
  <!-- Angular toastr -->
  <script src="/bower_components/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
  <!-- Main module -->
  <script src="js/app.js"></script>
  <!-- Services -->
  <script src="js/services/AuthService.js"></script>
  <script src="js/services/AuthInterceptor.js"></script>
  <script src="js/services/StorageService.js"></script>
  <script src="js/services/CommentsService.js"></script>
  <script src="js/services/FavoritesService.js"></script>
  <script src="js/services/MediaService.js"></script>
  <!--Jquery -->
  <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
  <!-- Boostrap -->
  <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <!-- ROUTES -->
  <!-- Home unlogged -->
  <script src="js/routes/home/controller.js"></script>
  <script src="js/routes/home/index.js"></script>
  <!-- Signup -->
  <script src="js/routes/signup/controller.js"></script>
  <script src="js/routes/signup/index.js"></script>
  <!-- Movie detail -->
  <script src="js/routes/detail/controller.js"></script>
  <script src="js/routes/detail/index.js"></script>
  <!-- User Profile -->
  <script src="js/routes/profile/controller.js"></script>
  <script src="js/routes/profile/index.js"></script>
  <!-- Results page -->
  <script src="js/routes/results/controller.js"></script>
  <script src="js/routes/results/index.js"></script>
  <!-- Write Review page -->
  <script src="js/routes/writeReview/controller.js"></script>
  <script src="js/routes/writeReview/index.js"></script>
  <!-- Signup page -->
  <script src="js/routes/signup/controller.js"></script>
  <script src="js/routes/signup/index.js"></script>
  <!-- Login  -->
  <script src="js/routes/login/controller.js"></script>
  <script src="js/routes/login/index.js"></script>
  <!-- Navbar -->
  <script src="js/routes/index/NavbarController.js"></script>
</body>

</html>