<div class="container">
  <div class="card card-container">
      <h3 class="signup">Create new account</h3>
      <img id="profile-img" class="profile-img-card" src="assets/images/avatar_user.png" />
      <p id="profile-name" class="profile-name-card"></p>
      <form class="form-signin">
        <span id="reauth-email" class="reauth-email"></span>
        <input type="text" ng-model="user.username" class="form-control" placeholder="Username" required autofocus>
        <input type="password" ng-model="user.password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-success btn-block btn-signin" ng-click="registerUser(user)">Signup</button>
      </form><!-- /form -->
      <p class="signup">Already have an account? <a data-toggle="modal" data-target="#loginModal"> Login</a></p>
  </div><!-- /card-container -->
</div><!-- /container -->

 <!-- Modal -->
<div id="loginModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="card card-container">
      <img id="profile-img" class="profile-img-card" src="assets/images/avatar_user.png" />
      <p id="profile-name" class="profile-name-card"></p>
      <form class="form-signup">
        <span id="reauth-email" class="reauth-email"></span>
        <input type="text" id="newUser" class="form-control" placeholder="Username" required autofocus>
        <input type="password" id="newPassword" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-success btn-block btn-signup" type="submit">Login</button>
      </form><!-- /form -->
      <p class="signup"><a href="#" data-dismiss="modal" class="pull-right">Dismiss</a></p>
    </div><!-- /card-container -->         
  </div>
</div><!-- End Modal -->