$unchecked-star: '\2606';
$unchecked-color: #888;
$checked-star: '\2605';
$checked-color: #f2ee07;
$main-green: #0CE3AC;
$main-grey: #3A3C3D;

_* {
  border: 1px solid red;
}

[ng-click],
[data-ng-click],
[x-ng-click], {
    cursor: pointer;
}

.nav-logo{
  font-family: 'Pacifico', cursive;
  font-size: 24px;
  color: $main-green !important;
}

#nav-user {
  font-size: 24px;
}

#profile-img-nav {
  height: 50px;
  width: 50px;
  margin-top: 5px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 70px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px; //same height as the margin to the bottom of the body
  #copy {
    margin-top: 15px;
  }
}

#home-search {
  margin-top: 50px;
}

#home-signup {
  margin-top: 50px;
}

#headlines {
  margin-top: 30px;
}

#home-logo {
  font-family: 'Pacifico', cursive;
  font-size: 100px;
  color: $main-green !important;
  margin-top: 30px;
  max-height: 200px;
}

.foreground:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top:0;
  bottom: 0;
  z-index: -1;
  
  display: block;
  background-image: url("../assets/images/wallp.jpg");
  background-repeat: repeat;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.social-link {
  font-size: 18px;
}

#search {
  float: right;
  margin-top: 0px;
  width: 250px;
}

.search {
  padding: 8px 0px;
  width: 230px;
  height: 30px;
  position: relative;
  left: 0px;
  float: left;
  line-height: 22px;
  input {
    position: absolute;
    color:white;
    font-size: 16px;
    background-color: #375A7F;
    width: 300px;
    float: Left;
    margin-left: 42px;
    height: 40px;
    line-height: 18px;
    padding: 10px;
    border-radius: 1px;
  }
  &:hover input, input:focus {
    background-color: #4d7eb3;
   
  }
  ::-webkit-input-placeholder{
    color:white;
  }
}

.media-heading {
  font-size: 20px;
}

#main-navbar {
  background-color: $main-grey;
}

#nav-btn {
  height: 40px;
  position: absolute;
  left: 0;
  top: 8px;
  border-radius: 1px;
  background-color: $main-grey;  
  border: none;
  &:hover {
    background-color: #313435;
  }
}

#nav-mag {
  font-size: 24px;
}

#nav-search {
  background-color: $main-grey;
  &:hover {
    background-color: #575a5c;
  }
}

#top-search {
  margin-top: 100px;
}

h2,
p {
  color: white;
}

.card-container.card {
  margin-top: 150px;
  width: 350px;
  padding: 40px 40px;
}

.btn {
  font-weight: 700;
  height: 36px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}


/*
 * Card component
 */

.card {
  background-color: #F7F7F7;
  /* just in case there no content*/
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  /* shadows and rounded borders */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}


/*
 * Form styles
 */

.profile-name-card {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0 0;
  min-height: 1em;
}

.reauth-email {
  display: block;
  color: #404040;
  line-height: 2;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form-signin {
  #inputEmail,
  #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
  }

  input {
    &[type=email],
    &[type=password],
    &[type=text] {
      width: 100%;
      display: block;
      margin-bottom: 10px;
      z-index: 1;
      position: relative;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      }
  }
  button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(104, 145, 162);
  }
}

.btn.btn-signin {
  /*background-color: #4d90fe; */
  /*background-color: rgb(104, 145, 162);
  / background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
  padding: 0px;
  font-weight: 700;
  font-size: 14px;
  height: 36px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: none;
  -o-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -webkit-transition: all 0.218s;
  transition: all 0.218s;
}

.form-signup {
  #newUser,
  #newPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
  }
  input {
    &[type=email],
    &[type=password],
    &[type=text] {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        z-index: 1;
        position: relative;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
  }
  button {
      width: 100%;
      display: block;
      margin-bottom: 10px;
      z-index: 1;
      position: relative;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
  }
  .form-control:focus {
      border-color: rgb(104, 145, 162);
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(104, 145, 162);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(104, 145, 162);
  }
}

.btn.btn-signup {
  /*background-color: #4d90fe; */
  /*background-color: rgb(104, 145, 162);
  / background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
  padding: 0px;
  font-weight: 700;
  font-size: 14px;
  height: 36px;
  margin-bottom: 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: none;
  -o-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -webkit-transition: all 0.218s;
  transition: all 0.218s;
}

.signup {
  color: rgb(104, 145, 162);
  &:hover,
  &:active,
  &:focus {
      color: rgb(12, 97, 33);
  }
}

.movie-container {
  padding: 20px;
  margin-top: 100px;
  background-color: #191a1a;
  
  h1 {
    font-size: 50px;
  }

  button {
    background: transparent;
    border: 1px solid $main-green !important;
    color: $main-green;
    &:hover {
      background-color: #3A3C3D;
    }
  }

  a {
      text-decoration: none;
    }

  h4 {
    margin-top: 20px;
  }
  
  #movie-poster {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
      flex-shrink: 0;
      min-width: 100%;
      //min-height: 100%;
    }
  }

  #fav-star {
    color:yellow;
    font-size: 48px;
  }

  #movie-info {
    #movie-tech {
      list-style: none;
      padding-left: 0;
    }
  }
  #rating-stats{
    font-size: 18px;
    hr {
      margin:0;
      padding:0;
    }
  }
  
}

#reviews-title {
  margin-bottom: 30px;
}

#points {
  border-radius: 100%;
  padding: 5px;
  background-color: $checked-color;
  color: black;
  margin: 5px;
}

.comments-container {
  margin-top: 10px;

  #new-comment {
    padding: 5px;
  }

  #comments-list {
    list-style: none;
    padding-left: 0px;
  }
  .spoiler-button {
    background-color: transparent;
    boder: 1px solid #E74C3C;
    &:hover {
      background-color: #E74C3C;
    }
  }
}

#star {
    color: $checked-color;
  }

.star-cb-group {
  /* remove inline-block whitespace */
  font-size: 0;
  * {
      font-size: 3rem;
  }
  /* flip the order so we can use the + and ~ combinators */
  unicode-bidi: bidi-override;
  direction: rtl;
  &>input {
    display: none;
    &+label {
      /* only enough room for the star */
      display: inline-block;
      overflow: hidden;
      text-indent: 9999px;
      width: 1em;
      white-space: nowrap;
      cursor: pointer;
      &:before {
        display: inline-block;
        text-indent: -9999px;
        content: $unchecked-star;
        color: $unchecked-color;
      }
    }
    &:checked~label:before,
    &+label:hover~label:before,
    &+label:hover:before {
      content: $checked-star;
      color: #f2ee07;
      text-shadow: 0 0 1px #333;
    }
  }

  /* the hidden clearer */
  &>.star-cb-clear+label {
    text-indent: -9999px;
    width: .5em;
    margin-left: -.5em;
  }
  &>.star-cb-clear+label:before {
    width: .5em;
  }

  &:hover>input+label:before {
    content: $unchecked-star;
    color: $unchecked-color;
    text-shadow: none;
  }
  &:hover>input+label:hover~label:before,
  &:hover>input+label:hover:before {
    content: $checked-star;
    color: $checked-color;
    text-shadow: 0 0 1px #333;
  }
}

#profile-title {
  margin-top: 100px;
}

.profile-container {
  margin-top: 75px;

  ul {
    list-style: none;
    padding-left: 0px;
  }

  .btn-signup {
    padding: 8px;
  }
}

.home-container {
  margin-top: 30px;
  padding: 20px;

  #custom-search-input{
      border: solid 1px #E4E4E4;
      border-radius: 6px;
      background-color: #fff;
  }

  #custom-search-input input{
      border: 0;
      box-shadow: none;
  }

  #custom-search-input button{
      margin: 2px 0 0 0;
      background: none;
      box-shadow: none;
      border: 0;
      color: #666666;
      padding: 0 8px 0 10px;
      border-left: solid 1px #ccc;
  }

  #custom-search-input button:hover {
      border: 0;
      box-shadow: none;
      border-left: solid 1px #ccc;
  }

  #custom-search-input .glyphicon-search{
      font-size: 23px;
  }

   #home-button {
    background-color: $main-green;
    width: 30%;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

#thumbs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .thumbnail {
    border:0 none;
    box-shadow:0;
    border-radius:0;
    img {
      border: 0 none;
      box-shadow: none;
      border-radius:0;
      height: 400px;
      width: 95%;
      background-size: cover;
      background-position: center center;
    }
    a {
      text-decoration: none;
      cursor: default; 
    }

    .thumb-stars {
      cursor: pointer;
    }

    button {
      width:33%;
      background-color: transparent;
      border: 1px solid $main-green;
      color: $main-green;
       &:hover {
        background-color: #3A3C3D;
      }
    }
    .btn-thumb {
      width: 100%;
    }

    p {
    height: 200px;
    overflow: hidden;
    }
  }
}

.review-container {
  margin-top: 100px;
}

#review-button {
  background: transparent;
  border: 1px solid $main-green !important;
  color: $main-green;
}

#comment-title {
  margin-bottom: 10px;
}

#review-image {
  width: 100%;
  // min-height: 100%;
    
}

@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
   .navbar-nav .open .dropdown-menu {
       position: static;
       float: none;
       width: auto;
       margin-top: 0;
       background-color: transparent;
       border: 0;
       -webkit-box-shadow: none;
       box-shadow: none;
    }
}
